﻿
@using Match.Domain.Entities;
@using Match.Repository.EF;
@using Match.WebUI.Infrastructure.HTMLHelpers;
@model ResponseModel

@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}



@section MainContent {

  
 <table>
 
               @foreach (Profile p in Model.Profiles)
               {
                 <tr><td>
                            @Html.Partial("ProfileMainImage", p)                      
                 </td><td>             
                                      
                            @Html.ActionLink(p.FirstName + "  " + p.LastName, "Profile", "Profile",
                               new { idForDisplay = p.Id, idForMenu = 1 }, null) 
                  </td><td>
                         @using (Html.BeginForm("Delete", "Profile")) {
                                        @Html.Hidden("Id", p.Id)
                                            <input type="submit" value="Delete" />
                        }                               
                 </td></tr>            
               }                                                
  </table>                    
}          

