﻿@using Match.Domain.Entities;
@using Match.Repository.EF;
@using Match.WebUI.Infrastructure.HTMLHelpers;
@model ResponseModel


@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@section Scripts{
       
}


@section MainContent{

@using (Html.BeginForm("Edit", "Profile"))
{



<div class="row">
<div class="large-8 small-centered  large-uncentered columns">
 <fieldset >
 <legend>Profile.Pesonal Info</legend>


<div class="row">

  <div class="medium-4 columns">
       <div class="wraper-image">
       <div class="resize-image" style="background: url('@Url.Action("GetProfileImage", "Profile", new { imageId = Model.Profile.Id })')"></div>
       </div>
  </div>

  <div class="medium-8 columns">

       <div class="row">
            <div class="medium-3 columns">@Html.LabelFor(p => Model.Profile.DateBirth, new { @class = "inline right labelToAllign " })</div> 
            <div class="medium-9 columns">@Html.TextBoxFor(m => m.Profile.DateBirth, new { @Value = Model.Profile.DateBirth.ToString("MMMM dd, yyyy") })</div>
        </div>

       <div class="row">
           <div class="medium-3 columns">@Html.LabelFor(p => Model.Profile.StatusId, new { @class = "inline right labelToAllign " })</div> 
           <div class="medium-9 columns">@Html.DropDownListForIAttributeSource("Profile.StatusId", Model.Profile.StatusId, Model.Statuses, "Select Status")</div>
        </div>


        <div class="row">
           <div class="medium-3 columns">@Html.LabelFor(p => Model.Profile.GenderId, new { @class = "inline right labelToAllign " })</div> 
           <div class="medium-9 columns">@Html.MatchEnumDropDownListFor(p => Model.Profile.GenderValue, "Select Gender")</div>
        </div>



  </div>

</div>














 <div class="row">
   <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.FirstName, new { @class = "inline right labelToAllign " })</div> 
    <div class="medium-10 columns">@Html.TextBoxFor(p => Model.Profile.FirstName) </div>
  </div>
 
 <div class="row">
   <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.LastName, new { @class = "inline right labelToAllign " })</div> 
    <div class="medium-10 columns">@Html.TextBoxFor(p => Model.Profile.LastName) </div>
  </div>

 
  <div class="row">
     <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.EMail, new { @class = "inline right labelToAllign " })</div> 
     <div class="medium-10 columns">@Html.TextBoxFor(p => Model.Profile.EMail)</div>
</div>


 <div class="row">
     <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.Phone, new { @class = "inline right labelToAllign " })</div> 
     <div class="medium-10 columns">@Html.TextBoxFor(p => Model.Profile.Phone)</div>
</div>
</fieldset >



<fieldset>
<legend>Profile.About myself</legend>
<div class="row">
    <div class="small-12 columns">@Html.TextAreaFor(p => Model.Profile.AboutMyself, new { rows = "7" })</div>

</div>
</fieldset>



<fieldset>
<legend>Profile.Image set</legend>		   
<div class="row">
     <div class="small-12" style="height:310px; vertical-align:bottom;"></div>
       <div class="small-12 small-centered columns text-center">
            <a href="#" class="small addpicture radius button">Add pictures </a>
     </div>
</div>
</fieldset> 





<div class="row">
<div class="small-12 columns" >
 <div style="overflow:auto; margin-top:-430px;  margin-left:16px; margin-right:16px;"   >
   <table class="tblProfileImageGallery" >
     <tr>
      @foreach (ProfileImage pp in Model.Profile.ProfileImages)
      {          
      <td class="tdImageFromSet">                 
       <img  class="imageGalleryItem"  src="@Url.Action("GetProfileImage", "Profile", new { imageId = pp.Id })" alt = "image" /> 
        <div class="divImageMenu" >
            <span class="makeFirstImage"><i class="step fi-previous size-big"></i></span>
            <span class="moveLeft"><i class="step fi-rewind size-big"></i></span>
            <span class="makeMainImage"><i class="step fi-torso size-big"></i></span>
            <span class="moveRight"><i class="step fi-fast-forward size-big"></i></span>
            <span class="makeLastImage"><i class="step fi-next size-big"></i></span>
            <span class="removeImage"><i class="step fi-trash size-big"></i></span>
        </div>
      </td>
      } 
    </tr>
   </table>
  </div>
 </div>
 </div>
 








<fieldset>
<legend>Profile.Location</legend>
<div class="row">
    <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.CountryId, new { @class = "inline right labelToAllign" })</div>
    <div class="medium-10 columns">@Html.DropDownListForIAttributeSource("Profile.CountryId", Model.Profile.CountryId, Model.Countries, "Select Country")</div>
</div>    



  <div class="row"> 
     <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.StateId, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-10 columns">@Html.DropDownListForIAttributeSource("Profile.StateId", Model.Profile.StateId, Model.States, "Select State")</div>
  </div>  


        
       
  <div class="row">
     <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.City, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-10 columns">@Html.TextBoxFor(p => Model.Profile.City)</div>
  </div>  
<div class="row">
     <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.ZipCode, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-10 columns">@Html.TextBoxFor(p => Model.Profile.ZipCode)</div>
 </div>   
</fieldset> 

<fieldset >
 <legend>Profile.Search Info</legend>

 <div class="row">
      <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.RaceId, new { @class = "inline right labelToAllign " })</div> 
      <div class="medium-4 columns">@Html.DropDownListForIAttributeSource("Profile.RaceId", Model.Profile.RaceId, Model.Races, "Select Religion")</div>

     <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.ReligionId, new { @class = "inline right labelToAllign" })</div> 
     <div class="medium-4 columns">@Html.DropDownListForIAttributeSource("Profile.ReligionId", Model.Profile.ReligionId, Model.Religions, "Select Religion")</div>
  </div> 


 



<div class="row">
      <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.EducationGradeId, new { @class = "inline right labelToAllign" })</div> 
     <div class="medium-4 columns">@Html.DropDownListForIAttributeSource("Profile.EducationGradeId", Model.Profile.EducationGradeId, Model.EducationGrades, "Select...")</div>
 
     <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.ChildrenId, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-4 columns">@Html.DropDownListForIAttributeSource("Profile.ChildrenId", Model.Profile.ChildrenId, Model.HasChildren, "Select Children")</div>
  </div>  
  
  
  <div class="row">
     <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.HeightId, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-4 columns">@Html.DropDownListForIAttributeSource("Profile.HeightId", Model.Profile.HeightId, Model.Heights, "Select...")</div>
 
     <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.WeightId, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-4 columns">@Html.DropDownListForIAttributeSource("Profile.WeightId", Model.Profile.WeightId, Model.Weights, "Select Children")</div>
  </div> 
          

<div class="row">
     <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.DisabilityId, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-4 columns">@Html.DropDownListForIAttributeSource("Profile.DisabilityId", Model.Profile.DisabilityId, Model.Disabilities, "Select...")</div>
 
     <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.SmokeId, new { @class = "inline right labelToAllign" })</div>  
     <div class="medium-4 columns">@Html.DropDownListForIAttributeSource("Profile.SmokeId", Model.Profile.SmokeId, Model.Smokes, "Select...") </div>
  </div> 
 

<div class="row">
       <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.OccupationId, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-4 columns">@Html.DropDownListForIAttributeSource("Profile.OccupationId", Model.Profile.OccupationId, Model.Occupations, "Select...")</div>

     <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.IncomeId, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-4 columns">@Html.DropDownListForIAttributeSource("Profile.IncomeId", Model.Profile.IncomeId, Model.Incomes, "Select...")</div>
</div>
</fieldset>   





  <div class="row">    
     <div class="small-12 small-centered columns text-center"><a href="#" class="small  radius button">Save</a>  <a href="#" class="small secondary radius button">Return</a></div>
 </div>


</div>
</div>  
    
    

@Html.Hidden("id", new { Id = Model.Profile.Id })


}

}

 
@{ string endYearforCalendar = String.Concat("1900:", (DateTime.Now.Year - 16).ToString());}

<script type="text/javascript">
    $(document).ready(function () {


        $("#Profile_DateBirth").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'MM dd, yy',
            gotoCurrent: true
        });


        $("#Profile_DateBirth").datepicker("option", "yearRange", "@endYearforCalendar");







        $('#btnUploadImage').change(function (event) {

            var tmppath = URL.createObjectURL(event.target.files[0]);
            var img = $("<img/>").attr('class', 'imageGalleryItem')
                                 .attr('src', URL.createObjectURL(event.target.files[0]));

            var menuMoveLeft = "<img alt='Move left' title='Move left' class= 'moveLeft' src='http://pics.ebaystatic.com/aw/pics/icon/iconMoveLt_16x16.gif'>";
            var menuMoveRight = "<img alt='Move right' title='Move right' class= 'moveRight' src='http://pics.ebaystatic.com/aw/pics/icon/iconMoveRt_16x16.gif'/>";
            var menuRemove = "<img alt='Remove' title='Remove' class= 'removeImage' src='http://pics.ebaystatic.com/aw/pics/icon/iconTrashcan_16x16.gif'/>";

            var divImageMenu = $("<div class='divImageMenu'>" + menuMoveLeft + menuRemove + menuMoveRight + "</div> ");


            var td = $('<td/>').html(img).append(divImageMenu);
            $('.tblProfileImageGallery tr').append(td);

        });

        $('.removeImage').live({
            click: function (event) {
                event.preventDefault();
                var r = confirm("Do you want to delete the picture?");
                if (r) $(this).parent().parent().remove();
                return false;
            }

        });

        $('.moveRight').live({
            click: function (event) {
                event.preventDefault();
                var parent = $(this).parent().parent();
                var parentRightSibling = parent.next();
                parent.insertAfter(parentRightSibling);
                return false;
            }
        });


        $('.moveLeft').live({
            click: function (event) {
                event.preventDefault();
                var parent = $(this).parent().parent();
                var parentLeftSibling = parent.prev();
                parent.insertBefore(parentLeftSibling);
                return false;
            }

        });


</script> 

<script id = "ListTmpl" type="text/x-jquery-tmpl">

<div class="divListItem" >  
  {{tmpl($data) "#ProfileImagesTmpl"}}

   <div class= "item-info-${GenderId}">
       <a class="item-productimage-link" 
           href="/Profile/Details?idForDisplay=${Id}&amp;idForMenu=${Id}"> ${Zodiac}</a>
                              
                            <div class ="item-info-List">${FirstName} <br />${DateBirth }</div>                                   
                                  
                                 
                                                 
     </div>




</div>

</script>





<script id = "ProfileImagesTmpl" type="text/html">
<div class="profilePictures">{{each ImageId}}
<img src="/Profile/GetProfileImage?imageId=${ $value }"  height="150" width="150"
                                             alt = "image"/>
{{/each}}</div>

</script>
       
      
