﻿@model Match.Domain.Entities.LocalPasswordModel



@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Local Password</legend>
        <div class="row"> 
            <div class="columns medium-text-left">@Html.LabelFor(m => m.OldPassword)</div>
            <div class="columns medium-text-left"> @Html.PasswordFor(m => m.OldPassword)</div>
         </div>
         <div class="row"> 
            <div class="columns medium-text-left">@Html.LabelFor(m => m.NewPassword)</div>
            <div class="columns medium-text-left"> @Html.PasswordFor(m => m.NewPassword)</div>
         </div>
         <div class="row"> 
            <div class="columns medium-text-left">@Html.LabelFor(m => m.ConfirmPassword)</div>
            <div class="columns medium-text-left">@Html.PasswordFor(m => m.ConfirmPassword)</div>
         </div>
         <div class="row">
         <div class="small-12 small-centered columns text-center">
                 <button type="submit" class="small  radius" name="provider">Set password</button>        
                 <a href="@ViewBag.ReturnUrl" class="small  secondary radius button">Return</a>
         </div>
        </div>  
    </fieldset>
    
}
