﻿@model ICollection<Match.Domain.Entities.ExternalLogin>

@if (Model.Count > 0)
{
    <h3>Registered external logins</h3>
    <table>
        <tbody>
        @foreach (var externalLogin in Model)
        {
            <tr>
                <td><i class="step fi-social-@externalLogin.ProviderDisplayName size-camera"></i>  @externalLogin.ProviderDisplayName</td>
                <td>
                    @if (ViewBag.ShowRemoveButton)
                    {
                        using (Html.BeginForm("Disassociate", "Account"))
                        {
                            @Html.AntiForgeryToken()
                            <fieldset>
                                @Html.Hidden("provider", externalLogin.Provider)
                                @Html.Hidden("providerUserId", externalLogin.ProviderUserId)
                                <input type="submit"  value="Remove" title="Remove this  @externalLogin.ProviderDisplayName credential from your account" />
                            </fieldset>
                        }
                    }
                    else
                    {
                        @: &nbsp;
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div class="row"> 
   <div class="small-12 small-centered columns text-center">
     <button type="submit" class="small  radius" name="provider" >Register</button>        
     <a href="@ViewBag.ReturnUrl" class="small  secondary radius button">Return</a>
    </div>
 </div>
}
