﻿@model Match.Domain.Entities.RegisterExternalLoginModel
@{
    ViewBag.Title = "Register";
}

@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}


@section MainContent{

<div class="medium-6 small-centered  large-uncentered columns">
 <div class="row"> 
       <div class="column">&nbsp;</div> 
       <div class="columns columns medium-text-left alert-box info round">
                  You've successfully authenticated with <strong>@ViewBag.ProviderDisplayName</strong>.
                  Please enter a user name for this site below and click the Confirm button to finish
                 logging in.
  </div>
 </div>
  
@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<fieldset>
<legend>Association Form</legend>

 


    <div class="row"> 
       <div class="columns medium-text-left">@Html.ValidationMessageFor(m => m.UserName)</div>
      <div class="columns medium-text-left">@Html.LabelFor(m => m.UserName)</div>
      <div class="columns medium-text-left">@Html.TextBoxFor(m => m.UserName)</div>
    </div> 
   
 


    
 <div class="row">    
     <div class="small-12 small-centered columns text-center"><button type="submit" class="small   radius"  >Confirm</button>
     <a href="@ViewBag.ReturnUrl" class="small  secondary radius button">Return</a>
    </div>
 </div>
 </fieldset>   
 
  @Html.HiddenFor(m => m.ExternalLoginData) 
}


</div>

}





