﻿@model Match.Domain.Entities.RegisterModel
@{
    ViewBag.Title = "Register";
}

@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}


@section MainContent
{

<div class="medium-6 small-centered  large-uncentered columns">
 
  
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
@Html.AntiForgeryToken()
@Html.ValidationSummary(true)

<fieldset>
<legend>Registration Form</legend>
  
    <div class="row"> 
       <div class="columns medium-text-left">@Html.ValidationMessageFor(m => m.UserName)</div>
      <div class="columns medium-text-left">@Html.LabelFor(m => m.UserName)</div>
      <div class="columns medium-text-left">@Html.TextBoxFor(m => m.UserName)</div>
    </div> 
   
  
  <div class="row"> 
      <div class="columns medium-text-left">@Html.ValidationMessageFor(m => m.Password)</div>
     <div class="columns medium-text-left"> @Html.LabelFor(m => m.Password)</div>
     <div class="columns medium-text-left">@Html.PasswordFor(m => m.Password)</div>
     
   </div>


   <div class="row"> 
      <div class="columns medium-text-left">@Html.ValidationMessageFor(m => m.ConfirmPassword)</div>
     <div class="columns medium-text-left"> @Html.LabelFor(m => m.ConfirmPassword)</div>
     <div class="columns medium-text-left">@Html.PasswordFor(m => m.ConfirmPassword)</div>
     
   </div>
 
  


    
 <div class="row"> 
   <div class="small-12 small-centered columns text-center">
     <button type="submit" class="small  radius" name="provider" >Register</button>        
     <a href="@ViewBag.ReturnUrl" class="small  secondary radius button">Return</a>
    </div>
 </div>
 </fieldset>   
}


</div>


<script  type="text/javascript">
    $(document).ready(function () {


        $(".ad_container:gt(3)").hide();


    });
</script>

}





