﻿<div id="menu_container">    
      <button id="btn-menu" class="ui--error"></button>
      <ul id="menu">
        <li><a href="@Url.Action("Manage", "Account")"><span class="ui-icon ui-icon-gear"></span>Settings</a></li>
        <li><a href="@Url.Action("ProfileInfo", "Profile")"><span class="ui-icon ui-icon-person"></span>Profile</a></li>
        <li><a href="@Url.Action("Criteria", "Profile")"><i class="fi-page-search size-14" style="margin-left:-23px; padding-right:11px;"></i>Criteria</a></li>
        <li><a href="@Url.Action("Search", "Profile")"><i class="fi-magnifying-glass size-14" style="margin-left:-23px; padding-right:11px;"></i>Search</a></li>
        <li><a href="#"><span class="ui-icon ui-icon-power"></span><label for="btn2">Sign out</label></a></li>
      </ul>
    </div>
   
@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
  {
       @Html.AntiForgeryToken()
       <input type="submit" id="btn2"value="" class="btn-to-hide"/>
  }

  
 