﻿@using Match.Domain.Entities;
@using Match.Repository.EF;
@using Match.WebUI.Infrastructure.HTMLHelpers;
@model ResponseModel


@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

@{
    ViewBag.Title = "Criteria";
}
@section Scripts{
 @Scripts.Render("~/bundles/jqueryval")      
}


@section MainContent{




<div class="row">
<div class="large-8 small-centered  large-uncentered columns">
 
@using (Html.BeginForm("ProfileInfo", "Profile"))
{

@Html.Hidden("id", new { Id = Model.Profile.Id })
@Html.ValidationSummary()

 
<fieldset class="searchinfoGreen">  
<legend>Gendor</legend>

<fieldset>
 <div class="row">
           <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.GenderId)</div>
           <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.GenderId, new { @class = "inline right labelToAllign " })</div> 
           <div class="medium-8 columns">@Html.MatchEnumDropDownListFor(p => Model.Profile.GenderValue, "Select...")</div>
        </div>   
</fieldset>
</fieldset>   
    


<fieldset class="searchinfoGreen">  
<legend>Age</legend>

<fieldset>
<div class="row">
            <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.DateBirth)</div>
            <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.DateBirth, new { @class = "inline right labelToAllign " })</div> 
            <div class="medium-8 columns">@Html.TextBoxFor(m => m.Profile.DateBirth, new { @Value = Model.Profile.DateBirth.ToString("MMMM dd, yyyy") })</div>
        </div>
</fieldset>



 <fieldset>
    <div class="row">
   <div   class="medium-6 small-12 columns">
     <div class="row"> 
          <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchAgeIdFrom)</div> 
          <div class="small-4 columns">@Html.LabelFor(p => p.Profile.SearchAgeIdFrom, "From", new { @class = "inline right " })</div>
          <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchAgeIdFrom", Model.Profile.SearchAgeIdFrom, Model.Ages, "Select...")</div>
         </div> 
      </div>
      <div class="row">
       <div   class="medium-6 small-12 columns">
          <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchAgeIdTo)</div>  
         <div class="small-4 columns">@Html.LabelFor(p => p.Profile.SearchAgeIdTo, "To", new { @class = "inline right" })</div>
         <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchAgeIdTo", Model.Profile.SearchAgeIdTo, Model.Ages, "Select..")</div>
       </div>
       </div> 
   </div> 
</fieldset>
</fieldset>  

 <fieldset class="searchinfoGreen"> 
 <legend>Status</legend>
 <fieldset>
  <div class="row">
           <div class="medium-9 medium-offset-3 columns">@Html.ValidationMessageFor(p => Model.Profile.StatusId)</div>
           <div class="medium-3 columns">@Html.LabelFor(p => Model.Profile.StatusId, new { @class = "inline right labelToAllign " })</div> 
           <div class="medium-9 columns">@Html.DropDownListForIAttributeSource("Profile.StatusId", Model.Profile.StatusId, Model.Statuses, "Select...")</div>  
 </div>
 </fieldset >
 <fieldset >
   <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3  small-block-grid-1  medium-block-grid-2">
        @Html.CheckBoxes(Model.Statuses, Model.Profile.SearchSmokeIdMask, "Status") 
        </ul>      
      </div>
    </div>
</fieldset> 
</fieldset>    
 


<fieldset class="searchinfoGreen"> 
<legend>Children</legend>  
<fieldset> 
 <div class="row">
     <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.ChildrenId)</div> 
     <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.ChildrenId, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.ChildrenId", Model.Profile.ChildrenId, Model.HasChildren, "Select...")</div>
  </div>
  </fieldset> 
  <fieldset>
   <div class="row"> 
      <div   class="medium-6 small-12 columns">
        <div class="row"> 
         <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchChildrenIdFrom)</div> 
         <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchChildrenIdFrom, "From", new { @class = "inline right" })</div>
         <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchChildrenIdFrom", Model.Profile.SearchChildrenIdFrom, Model.HasChildren, "Select...")</div>
         </div> 
      </div>
      <div class="row">
       <div   class="medium-6 small-12 columns"> 
         <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchChildrenIdTo)</div> 
         <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchChildrenIdTo, "To", new { @class = "inline right" })</div>
         <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchChildrenIdTo", Model.Profile.SearchChildrenIdTo, Model.HasChildren, "Select...")</div>
       </div>
       </div>
  </div>  
  </fieldset>  
  </fieldset> 

 

  


<fieldset class="searchinfoGreen"> 
<legend>Race</legend>
<fieldset> 
 <div class="row">
      <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.RaceId)</div>
      <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.RaceId, new { @class = "inline right labelToAllign " })</div> 
      <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.RaceId", Model.Profile.RaceId, Model.Races, "Select...")</div>
 </div> 
 </fieldset>
 <fieldset>  
    <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3  small-block-grid-1 medium-block-grid-2">
        @Html.CheckBoxes(Model.Races, Model.Profile.SearchRaceIdMask, "Race") 
        </ul>      
    </div>
   </div>
</fieldset>
</fieldset> 



<fieldset class="searchinfoGreen"> 
 <legend>Height</legend> 
 <fieldset> 
 <div class="row">
      <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.HeightId)</div>
     <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.HeightId, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.HeightId", Model.Profile.HeightId, Model.Heights, "Select...")</div>
  </div>   
</fieldset >
<fieldset> 
 <div class="row">
   <div   class="medium-6 small-12 columns">
     <div class="row">
     <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchHeightIdFrom)</div>  
     <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchHeightIdFrom, "From", new { @class = "inline right" })</div>
     <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchHeightIdFrom", Model.Profile.SearchHeightIdFrom, Model.Heights, "Select...")</div>
    </div> 
   </div>
   <div   class="medium-6 small-12 columns">
     <div class="row"> 
     <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchHeightIdTo)</div> 
     <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchHeightIdTo, "To", new { @class = "inline right" })</div>
     <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchHeightIdTo", Model.Profile.SearchHeightIdTo, Model.Heights, "Select...")</div>
      </div>
   </div>
 </div>
 </fieldset>
</fieldset>   

    
 <fieldset class="searchinfoGreen">
 <legend>Weight</legend> 
<fieldset> 
 <div class="row">
     <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.WeightId)</div>
     <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.WeightId, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.WeightId", Model.Profile.WeightId, Model.Weights, "Select...")</div>
  </div> 
  </fieldset> 
  <fieldset >
  <div class="row">
    <div   class="medium-6 small-12 columns">
      <div class="row"> 
     <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchWeightIdFrom)</div>  
     <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchWeightIdFrom, "From", new { @class = "inline right" })</div>
     <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchWeightIdFrom", Model.Profile.SearchWeightIdFrom, Model.Weights, "Select...")</div>
      </div> 
   </div>
  <div   class="medium-6 small-12 columns">
     <div class="row">
      <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchWeightIdTo)</div>   
     <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchWeightIdTo, "To", new { @class = "inline right" })</div>
     <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchWeightIdTo", Model.Profile.SearchWeightIdTo, Model.Weights, "Select...")</div>
    </div>
   </div>
  </div>
</fieldset>   
</fieldset>   

    
    
    
    
<fieldset class="searchinfoGreen"> 
<legend>Disability</legend>
<fieldset> 
 <div class="row">
      <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.DisabilityId)</div>
      <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.DisabilityId, new { @class = "inline right labelToAllign" })</div>
      <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.DisabilityId", Model.Profile.DisabilityId, Model.Disabilities, "Select...")</div>
    </div> 
</fieldset>  
 <fieldset>
 <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3  small-block-grid-1 medium-block-grid-2">
        @Html.CheckBoxes(Model.Disabilities, Model.Profile.SearchDisabilityIdMask, "Disabilities")
        </ul>       
    </div>
</div>
</fieldset> 
</fieldset> 

    
    
<fieldset class="searchinfoGreen"> 
<legend>Religioun</legend>
<fieldset> 
 <div class="row">
     <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.ReligionId)</div>
     <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.ReligionId, new { @class = "inline right labelToAllign" })</div> 
     <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.ReligionId", Model.Profile.ReligionId, Model.Religions, "Select...")</div>
  </div>
</fieldset>
  <fieldset>
    <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3  small-block-grid-1 medium-block-grid-2">
        @Html.CheckBoxes(Model.Religions, Model.Profile.SearchReligionIdMask, "Religion") 
        </ul>      
    </div>
  </div>
</fieldset>     
</fieldset>     



<fieldset class="searchinfoGreen"> 
<legend>Education</legend>
 <fieldset>
 <div class="row">
       <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.EducationGradeId)</div>
      <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.EducationGradeId, new { @class = "inline right labelToAllign" })</div> 
     <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.EducationGradeId", Model.Profile.EducationGradeId, Model.EducationGrades, "Select...")</div>
  </div>
 </fieldset>
  <fieldset>
    <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3  small-block-grid-1 medium-block-grid-2">
        @Html.CheckBoxes(Model.EducationGrades, Model.Profile.SearchEducationGradeIdMask, "Education") 
        </ul>      
    </div>
  </div>
</fieldset>   
</fieldset>  
    
    

<fieldset class="searchinfoGreen">
<legend>Occupation</legend> 
<fieldset> 
 
 <div class="row">
      <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.OccupationId)</div>
      <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.OccupationId, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.OccupationId", Model.Profile.OccupationId, Model.Occupations, "Select...")</div>
    </div>
</fieldset> 
 <fieldset >
    <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3  small-block-grid-1 medium-block-grid-2">
        @Html.CheckBoxes(Model.Occupations, Model.Profile.SearchOccupationIdMask, "Occupation") 
        </ul>      
    </div>
  </div>
</fieldset>   
</fieldset>   

    
<fieldset class="searchinfoGreen"> 
<legend>Income</legend>
<fieldset >
 <div class="row">
     <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.IncomeId)</div>
     <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.IncomeId, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.IncomeId", Model.Profile.IncomeId, Model.Incomes, "Select...")</div>
</div> 
</fieldset >
<fieldset>
  <div class="row">
   <div   class="medium-6 small-12 columns">
     <div class="row"> 
          <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchIncomeIdFrom)</div>  
     <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchIncomeIdFrom, "From", new { @class = "inline right " })</div>
     <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchIncomeIdFrom", Model.Profile.SearchIncomeIdFrom, Model.Incomes, "Select...")</div>
       </div> 
      </div>
  <div   class="medium-6 small-12 columns">
    <div class="row">
         <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchIncomeIdTo)</div>   
     <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchIncomeIdTo, "To", new { @class = "inline right " })</div>
     <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchIncomeIdTo", Model.Profile.SearchIncomeIdTo, Model.Incomes, "Select...")</div>
  </div> 
      </div>
 </div> 
</fieldset> 
</fieldset> 
  





  <div class="row">    
     <div class="small-12 small-centered columns text-center"><a href="#" class="small  radius button">Save</a>  <a href="#" class="small secondary radius button">Return</a></div>
 </div>
 <input type="submit" value="" id="btn1" class="btn-to-hide"/>
}

}
</div>
</div> 
 









       
  
    
  
