﻿@using Match.Domain.Entities;
@using Match.Repository.EF;
@using Match.WebUI.Infrastructure.HTMLHelpers;
@model ResponseModel


@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

@{
    ViewBag.Title = "Profile";
}
@section Scripts{

 @Scripts.Render("http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js")
     @Scripts.Render("~/bundles/jqueryval")
 @Scripts.Render("~/Scripts/jquery-1.7.1.js")
 

       
}


@section MainContent{
<div class="row">
<div class="large-8 small-centered  large-uncentered columns">
@using (Html.BeginForm("ProfileInfo", "Profile", FormMethod.Post, new { enctype = "multipart/form-data", id = "formProfile" }))
{




 
 
 <fieldset >
 <legend class="legend-mainform">Pesonal Info</legend>


<div class="row">

  <div class="medium-4 columns">
       <div class="wraper-image">
        @Html.Partial("MainImage", Model)
       </div>
  </div>

  <div class="medium-8 columns">

       <div class="row">
            <div class="medium-9 medium-offset-3 columns">@Html.ValidationMessageFor(p => Model.Profile.DateBirth)</div>
            <div class="medium-3 columns ">@Html.LabelFor(p => Model.Profile.DateBirth, new { @class = "inline right labelToAllign " })</div> 
            <div class="medium-9 columns">@Html.TextBoxFor(m => m.Profile.DateBirth, new { @Value = Model.Profile.DateBirth.ToString("MMMM dd, yyyy") })</div>
        </div>

       <div class="row">
           <div class="medium-9 medium-offset-3 columns">@Html.ValidationMessageFor(p => Model.Profile.StatusId)</div>
           <div class="medium-3 columns">@Html.LabelFor(p => Model.Profile.StatusId, new { @class = "inline right labelToAllign " })</div> 
           <div class="medium-9 columns">@Html.DropDownListForIAttributeSource("Profile.StatusId", Model.Profile.StatusId, Model.Statuses, "Select...")</div>
        </div>


        <div class="row">
           <div class="medium-9 medium-offset-3 columns">@Html.ValidationMessageFor(p => Model.Profile.GenderId)</div>
           <div class="medium-3 columns">@Html.LabelFor(p => Model.Profile.GenderId, new { @class = "inline right labelToAllign " })</div> 
           <div class="medium-9 columns">@Html.MatchEnumDropDownListFor(p => Model.Profile.GenderValue, "Select...")</div>
        </div>

</div>



 <div class="row">
   <div class="medium-10 medium-offset-2 columns">@Html.ValidationMessageFor(p => Model.Profile.FirstName)</div>
   <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.FirstName, new { @class = "inline right labelToAllign " })</div> 
    <div class="medium-10 columns">@Html.TextBoxFor(p => Model.Profile.FirstName) </div>
  </div>
 
 <div class="row">
   <div class="medium-10 medium-offset-2 columns">@Html.ValidationMessageFor(p => Model.Profile.LastName)</div>
   <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.LastName, new { @class = "inline right labelToAllign " })</div> 
   <div class="medium-10 columns">@Html.TextBoxFor(p => Model.Profile.LastName) </div>
  </div>

 
  <div class="row ">
      <div class="medium-10 medium-offset-2 columns">@Html.ValidationMessageFor(p => Model.Profile.EMail)</div>
      <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.EMail, new { @class = "inline right labelToAllign " })</div> 
     <div class="medium-10 columns">@Html.TextBoxFor(p => Model.Profile.EMail)</div>
       
</div>


 <div class="row">
      <div class="medium-10 medium-offset-2 columns">@Html.ValidationMessageFor(p => Model.Profile.Phone)</div>
     <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.Phone, new { @class = "inline right labelToAllign " })</div> 
     <div class="medium-10 columns">@Html.TextBoxFor(p => Model.Profile.Phone)</div>
</div>    

     
</div>
</fieldset >
    
    
   

<fieldset>
<legend class="legend-mainform">About myself</legend>
<div class="row">
    <div class="small-12 columns">@Html.TextAreaFor(p => Model.Profile.AboutMyself, new { rows = "7" })</div>

</div>
</fieldset>



<fieldset>
<legend class="legend-mainform1">Image set</legend>		   
<div class="row">
     <div class="small-12" style="height:310px; vertical-align:bottom;"></div>
      <div id ="divGetImage" class="small-12 small-centered columns text-center" style =" vertical-align:middle;">
             <label for='fileinput' id='button' class='trigger-file-input small  addpicture radius button'>Add pictures</label>       
     </div>
</div>
</fieldset> 





<div class="row">
<div class="small-12 columns" >
    @Html.Partial("ImageSet", Model)
</div>            
</div>
    
    
    
    
    
    
     
    <fieldset >
<legend class="legend-mainform">Location</legend>
<div class="row">
     <div class="medium-10 medium-offset-2 columns">@Html.ValidationMessageFor(p => Model.Profile.CountryId)</div>
    <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.CountryId, new { @class = "inline right labelToAllign" })</div>
    <div class="medium-10 columns">@Html.DropDownListForIAttributeSource("Profile.CountryId", Model.Profile.CountryId, Model.Countries, "Select...")</div>
</div>    



  <div class="row">
      <div class="medium-10 medium-offset-2 columns">@Html.ValidationMessageFor(p => Model.Profile.StateId)</div> 
     <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.StateId, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-10 columns">@Html.DropDownListForIAttributeSource("Profile.StateId", Model.Profile.StateId, Model.States, "Select...")</div>
  </div>  


        
       
  <div class="row">
     <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.City, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-10 columns">@Html.TextBoxFor(p => Model.Profile.City)</div>
  </div>  
<div class="row">
     <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.ZipCode, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-10 columns">@Html.TextBoxFor(p => Model.Profile.ZipCode)</div>
 </div>   
</fieldset> 


 

 <div class="row">
       <div class="small-off-1 end small-10 small-centered alert-box  gray-form  round text-center columns">Criteria for search</div>
</div> 
    
    
    
    
    
    
    

 <fieldset  class="searchinfoGreen">  
<legend>Age</legend>


<fieldset  >
    <div class="row">
   <div   class="medium-6 small-12 columns">
     <div class="row"> 
          <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchAgeIdFrom)</div> 
          <div class="small-4 columns">@Html.LabelFor(p => p.Profile.SearchAgeIdFrom, "From", new { @class = "inline right " })</div>
          <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchAgeIdFrom", Model.Profile.SearchAgeIdFrom, Model.Ages, "Select...")</div>
         </div> 
      </div>
      <div class="row">
       <div   class="medium-6 small-12 columns">
          <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchAgeIdTo)</div>  
         <div class="small-4 columns">@Html.LabelFor(p => p.Profile.SearchAgeIdTo, "To", new { @class = "inline right" })</div>
         <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchAgeIdTo", Model.Profile.SearchAgeIdTo, Model.Ages, "Select..")</div>
       </div>
       </div> 
   </div> 
</fieldset>
</fieldset>  

 <fieldset  class="searchinfoGreen"> 
 <legend>Status</legend>
 
 <fieldset  >
   <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3  small-block-grid-1  medium-block-grid-2">
        @Html.CheckBoxes(Model.Statuses, Model.Profile.SearchStatusIdMask, "SearchStatusIds")
         
        </ul>      
      </div>
    </div>
</fieldset> 
</fieldset>    
 


<fieldset  class="searchinfoGreen"> 
<legend>Children</legend>  
<fieldset  > 
 <div class="row">
     <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.ChildrenId)</div> 
     <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.ChildrenId, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.ChildrenId", Model.Profile.ChildrenId, Model.HasChildren, "Select...")</div>
  </div>
  </fieldset> 
  <fieldset  >
   <div class="row"> 
      <div   class="medium-6 small-12 columns">
        <div class="row"> 
         <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchChildrenIdFrom)</div> 
         <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchChildrenIdFrom, "From", new { @class = "inline right" })</div>
         <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchChildrenIdFrom", Model.Profile.SearchChildrenIdFrom, Model.HasChildren, "Select...")</div>
         </div> 
      </div>
      <div class="row">
       <div   class="medium-6 small-12 columns"> 
         <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchChildrenIdTo)</div> 
         <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchChildrenIdTo, "To", new { @class = "inline right" })</div>
         <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchChildrenIdTo", Model.Profile.SearchChildrenIdTo, Model.HasChildren, "Select...")</div>
       </div>
       </div>
  </div>  
  </fieldset>  
  </fieldset> 

 

  


<fieldset  class="searchinfoGreen"> 
<legend>Race</legend>
<fieldset  > 
 <div class="row">
      <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.RaceId)</div>
      <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.RaceId, new { @class = "inline right labelToAllign " })</div> 
      <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.RaceId", Model.Profile.RaceId, Model.Races, "Select...")</div>
 </div> 
 </fieldset>
 <fieldset  >  
    <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3  small-block-grid-1 medium-block-grid-2">
        @Html.CheckBoxes(Model.Races, Model.Profile.SearchRaceIdMask, "SearchRaceIds")
       
        </ul>      
    </div>
   </div>
</fieldset>
</fieldset> 



<fieldset  class="searchinfoGreen"> 
 <legend>Height</legend> 
 <fieldset  > 
 <div class="row">
      <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.HeightId)</div>
     <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.HeightId, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.HeightId", Model.Profile.HeightId, Model.Heights, "Select...")</div>
  </div>   
</fieldset >
<fieldset  > 
 <div class="row">
   <div   class="medium-6 small-12 columns">
     <div class="row">
     <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchHeightIdFrom)</div>  
     <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchHeightIdFrom, "From", new { @class = "inline right" })</div>
     <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchHeightIdFrom", Model.Profile.SearchHeightIdFrom, Model.Heights, "Select...")</div>
    </div> 
   </div>
   <div   class="medium-6 small-12 columns">
     <div class="row"> 
     <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchHeightIdTo)</div> 
     <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchHeightIdTo, "To", new { @class = "inline right" })</div>
     <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchHeightIdTo", Model.Profile.SearchHeightIdTo, Model.Heights, "Select...")</div>
      </div>
   </div>
 </div>
 </fieldset>
</fieldset>   

    
 <fieldset  class="searchinfoGreen">
 <legend>Weight</legend> 
<fieldset > 
 <div class="row">
     <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.WeightId)</div>
     <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.WeightId, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.WeightId", Model.Profile.WeightId, Model.Weights, "Select...")</div>
  </div> 
  </fieldset> 
  <fieldset  >
  <div class="row">
    <div   class="medium-6 small-12 columns">
      <div class="row"> 
     <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchWeightIdFrom)</div>  
     <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchWeightIdFrom, "From", new { @class = "inline right" })</div>
     <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchWeightIdFrom", Model.Profile.SearchWeightIdFrom, Model.Weights, "Select...")</div>
      </div> 
   </div>
  <div   class="medium-6 small-12 columns">
     <div class="row">
      <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchWeightIdTo)</div>   
     <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchWeightIdTo, "To", new { @class = "inline right" })</div>
     <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchWeightIdTo", Model.Profile.SearchWeightIdTo, Model.Weights, "Select...")</div>
    </div>
   </div>
  </div>
</fieldset>   
</fieldset> 
    
    
    
    <fieldset  class="searchinfoGreen"> 
<legend>Smoke Habit</legend>
<fieldset  > 
 <div class="row">
      <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SmokeId)</div>
      <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.SmokeId, new { @class = "inline right labelToAllign" })</div>
      <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.SmokeId", Model.Profile.SmokeId, Model.Smokes, "Select...")</div>
    </div> 
</fieldset>  
 <fieldset  >
 <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3  small-block-grid-1 medium-block-grid-2">
        @Html.CheckBoxes(Model.Smokes, Model.Profile.SearchSmokeIdMask, "SearchSmokeIds")
       
        </ul>       
    </div>
</div>
</fieldset> 
</fieldset>   

    
    
    
    
<fieldset class="searchinfoGreen"> 
<legend>Disability</legend>
<fieldset  > 
 <div class="row">
      <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.DisabilityId)</div>
      <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.DisabilityId, new { @class = "inline right labelToAllign" })</div>
      <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.DisabilityId", Model.Profile.DisabilityId, Model.Disabilities, "Select...")</div>
    </div> 
</fieldset>  
 <fieldset>
 <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3  small-block-grid-1 medium-block-grid-2">
        @Html.CheckBoxes(Model.Disabilities, Model.Profile.SearchDisabilityIdMask, "SearchDisabilityIds")
       
        </ul>       
    </div>
</div>
</fieldset> 
</fieldset> 

    
    
<fieldset class="searchinfoGreen"> 
<legend>Religioun</legend>
<fieldset  > 
 <div class="row">
     <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.ReligionId)</div>
     <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.ReligionId, new { @class = "inline right labelToAllign" })</div> 
     <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.ReligionId", Model.Profile.ReligionId, Model.Religions, "Select...")</div>
  </div>
</fieldset>
  <fieldset >
    <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3  small-block-grid-1 medium-block-grid-2">
        @Html.CheckBoxes(Model.Religions, Model.Profile.SearchReligionIdMask, "SearchReligionIds")
         
        </ul>      
    </div>
  </div>
</fieldset>     
</fieldset>     



<fieldset  class="searchinfoGreen"> 
<legend>Education</legend>
 <fieldset  >
 <div class="row">
       <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.EducationGradeId)</div>
      <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.EducationGradeId, new { @class = "inline right labelToAllign" })</div> 
     <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.EducationGradeId", Model.Profile.EducationGradeId, Model.EducationGrades, "Select...")</div>
  </div>
 </fieldset>
  <fieldset >
    <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3  small-block-grid-1 medium-block-grid-2">
        @Html.CheckBoxes(Model.EducationGrades, Model.Profile.SearchEducationGradeIdMask, "SearchEducationGradeIds") 
        </ul>      
    </div>
  </div>
</fieldset>   
</fieldset>  
    
    

<fieldset  class="searchinfoGreen">
<legend>Occupation</legend> 
<fieldset  > 
 
 <div class="row">
      <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.OccupationId)</div>
      <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.OccupationId, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.OccupationId", Model.Profile.OccupationId, Model.Occupations, "Select...")</div>
    </div>
</fieldset> 
 <fieldset   >
    <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3  small-block-grid-1 medium-block-grid-2">
        @Html.CheckBoxes(Model.Occupations, Model.Profile.SearchOccupationIdMask, "SearchOccupationIds")
        
        </ul>      
    </div>
  </div>
</fieldset>   
</fieldset>   

    
<fieldset  class="searchinfoGreen"> 
<legend>Income</legend>
<fieldset >
 <div class="row">
     <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.IncomeId)</div>
     <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.IncomeId, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.IncomeId", Model.Profile.IncomeId, Model.Incomes, "Select...")</div>
</div> 
</fieldset >
<fieldset >
  <div class="row">
   <div   class="medium-6 small-12 columns">
     <div class="row"> 
          <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchIncomeIdFrom)</div>  
     <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchIncomeIdFrom, "From", new { @class = "inline right " })</div>
     <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchIncomeIdFrom", Model.Profile.SearchIncomeIdFrom, Model.Incomes, "Select...")</div>
       </div> 
      </div>
  <div   class="medium-6 small-12 columns">
    <div class="row">
         <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchIncomeIdTo)</div>   
     <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchIncomeIdTo, "To", new { @class = "inline right " })</div>
     <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchIncomeIdTo", Model.Profile.SearchIncomeIdTo, Model.Incomes, "Select...")</div>
  </div> 
      </div>
 </div> 
</fieldset> 
</fieldset> 

  <div class="row">    
     <div class="small-12 small-centered columns text-center">
      <button type="submit" onclick="makeSimleMatching()" class="small   radius"  >Save</button> 
      <a href="#" class="small secondary radius button">Return</a></div>
 </div>

 
 <input type="hidden" name="hasImages"  class ="hiddenInput" value="@((Model.Profile.ProfileImages == null) ? 0 : 1)"/>
}

<div id="uploadHidden"><input type='file' id='fileinput' class='fileinput hiddenInput'  name='file'/></div>
</div>
</div> 


 
}

@section JQueryContentExtra{
@{ string yearRange = String.Concat((DateTime.Now.Year - 100).ToString() + ":", (DateTime.Now.Year - 16).ToString());}
 <script type="text/javascript">
     $(document).ready(function () {
         $.noConflict();
         $('.hiddenInput').hide();

        $("#Profile_DateBirth").datepicker({
             changeMonth: true,
             changeYear: true,
             dateFormat: 'MM dd, yy',
             yearRange: "@yearRange",
             gotoCurrent: true
         }); 

       


         // Image menu set up
         //-----------------------------
         var firstImages = $(".tblProfileImageGallery td").first();
         firstImages.find(".makeFirstImage").addClass("stopImageMenu");
         firstImages.find(".moveLeft").addClass("stopImageMenu");

         var lastImages = $(".tblProfileImageGallery td").last();
         lastImages.find(".makeLastImage").addClass("stopImageMenu");
         lastImages.find(".moveRight").addClass("stopImageMenu");



         // Image menu
         //------------------------------------------
       //  $('.removeImage').on({
        //     click: function (event) {
         $(".tblProfileImageGallery").on("click", ".removeImage", function (event) {
                 event.preventDefault();
                 var td = $(this).closest('td');
                 var count = 1;

                 var r = confirm("Do yoy want to delete the picture?");
                 if (r) {

                     var isMainImage = td.find(".inputIsMainImage").val();

                     td.empty().remove();
                     var target = $(".tblProfileImageGallery tr");
                     count = target.children().length;


                     if (count == 0) { // no images
                         var newtTd = $("<td class='tdImageFromSet'><img class='imageGalleryItem noImage'  src='../Content/Images/no-image.jpg' alt = 'no-image'/></td>");
                         newtTd.appendTo(target);
                         $("#hasImages").val("0");

                     }

                     var first = $(".tblProfileImageGallery td").first();

                     if ((count == 1) || (count > 0 && isMainImage == "1")) { // img in table> 0 && removed image was MainImage

                         // general set up

                         first.find(".makeFirstImage").addClass("stopImageMenu");
                         first.find(".moveLeft").addClass("stopImageMenu");
                         first.find(".makeMainImage").addClass("setMainImage");
                         first.closest("td").find(".inputIsMainImage").val("1");  //input for MainImage


                         var last = $(".tblProfileImageGallery td").last();
                         last.find(".makeLastImage").addClass("stopImageMenu");
                         last.find(".moveRight").addClass("stopImageMenu");

                     }

                     if (count == 0 || isMainImage) {
                         // set Main Image
                         var src = first.find("img").attr("src");

                         var mainImage = $("#profileMainImage");
                         mainImage.css("background-image", "url('" + src + "')");

                     }
                 }
                 return false;
            // }
         });

         //------------------------------------

        
         $(".tblProfileImageGallery").on("click", ".moveRight", function (event) {
                 event.preventDefault();
                 var $this = $(this);
                 if ($this.hasClass("stopImageMenu")) return false;  // LastRight

                 var parent = $this.parent().parent();
                 var count = parent.find(".stopImageMenu").size(); //4 -one image , 2 FirstImage

                 var parentRightSibling = parent.next();
                 var countSibling = parentRightSibling.find(".stopImageMenu").size();


                 parent.insertAfter(parentRightSibling);

                 if (count > 0 && countSibling > 0) {  //only 2 images
                     parent.find(".stopImageMenu").removeClass("stopImageMenu");
                     parent.find(".moveRight").addClass("stopImageMenu");
                     parent.find(".makeLastImage").addClass("stopImageMenu");

                     parentRightSibling.find(".stopImageMenu").removeClass("stopImageMenu");
                     parentRightSibling.find(".makeFirstImage").addClass("stopImageMenu");
                     parentRightSibling.find(".moveLeft").addClass("stopImageMenu");
                     return false;
                 }

                 if (count > 0) {  //FistImage move right, images > 2 
                     parent.find(".stopImageMenu").removeClass("stopImageMenu");
                     parentRightSibling.find(".makeFirstImage").addClass("stopImageMenu");
                     parentRightSibling.find(".moveLeft").addClass("stopImageMenu");
                     return false;
                 }

                 if (countSibling > 0) {  //image will be Last, images > 2 

                     parent.find(".makeLastImage").addClass("stopImageMenu");
                     parent.find(".moveRight").addClass("stopImageMenu");
                     parentRightSibling.find(".stopImageMenu").removeClass("stopImageMenu");
                     return false;
                 }

                 return false;
             
         });

         //------------------------------------

         $(".tblProfileImageGallery").on("click", ".moveLeft", function (event) {
                 event.preventDefault();
                 var $this = $(this);
                 if ($this.hasClass("stopImageMenu")) return false;  // FirstRight

                 var parent = $this.parent().parent();
                 var count = parent.find(".stopImageMenu").size(); //4 -one image , 2 FirstImage
                 var parentLeftSibling = parent.prev();
                 var countSibling = parentLeftSibling.find(".stopImageMenu").size();

                 parent.insertBefore(parentLeftSibling);

                 if (count > 0 && countSibling > 0) {  //only 2 images
                     parent.find(".stopImageMenu").removeClass("stopImageMenu");
                     parent.find(".moveLeft").addClass("stopImageMenu");
                     parent.find(".makeFirstImage").addClass("stopImageMenu");

                     parentLeftSibling.find(".stopImageMenu").removeClass("stopImageMenu");
                     parentLeftSibling.find(".makeLastImage").addClass("stopImageMenu");
                     parentLeftSibling.find(".moveRight").addClass("stopImageMenu");
                     return false;
                 }

                 if (count > 0) {  //LastImage move left, images > 2 
                     parent.find(".stopImageMenu").removeClass("stopImageMenu");
                     parentLeftSibling.find(".makeLastImage").addClass("stopImageMenu");
                     parentLeftSibling.find(".moveRight").addClass("stopImageMenu");
                     return false;
                 }

                 if (countSibling > 0) {  //image will be first, images > 2 

                     parent.find(".makeFirstImage").addClass("stopImageMenu");
                     parent.find(".moveLeft").addClass("stopImageMenu");
                     parentLeftSibling.find(".stopImageMenu").removeClass("stopImageMenu");
                     return false;
                 }

                 return false;
         
         });



         //---------------------------------------------------
       
         $(".tblProfileImageGallery").on("click", ".makeFirstImage", function (event) {
                 event.preventDefault();

                 var $this = $(this);
                 if ($this.hasClass("stopImageMenu")) return false;  // First

                 var parent = $this.parent().parent();
                 var count = parent.find(".stopImageMenu").size(); //4 -one image , 2 FirstImage
                 var first = $(".tblProfileImageGallery td").first(); // 2- lastImage will be first 


                 first.find(".stopImageMenu").removeClass("stopImageMenu");

                 if (count > 0) { // LastImage make Fist
                     parent.find(".stopImageMenu").removeClass("stopImageMenu");

                 }
                 parent.find(".makeFirstImage").addClass("stopImageMenu");
                 parent.find(".moveLeft").addClass("stopImageMenu");

                 parent.insertBefore(first);

                 var last = $(".tblProfileImageGallery td").last(); // 2- lastImage will be first 
                 last.find(".makeLastImage").addClass("stopImageMenu");
                 last.find(".moveRight").addClass("stopImageMenu");
                 return false;
          

         });


         //---------------------------------------------------
       
         $(".tblProfileImageGallery").on("click", ".makeLastImage", function (event) {
                 event.preventDefault();

                 var $this = $(this);
                 if ($this.hasClass("stopImageMenu")) return false;  // Last

                 var parent = $this.parent().parent();
                 var count = parent.find(".stopImageMenu").size(); //4 -one image , 2 FirstImage
                 var last = $(".tblProfileImageGallery td").last(); // 2- lastImage will be first 

                 last.find(".stopImageMenu").removeClass("stopImageMenu");

                 if (count > 0) { // LastImage make Fist
                     parent.find(".stopImageMenu").removeClass("stopImageMenu");
                 }
                 parent.find(".makeLastImage").addClass("stopImageMenu");
                 parent.find(".moveRight").addClass("stopImageMenu");

                 parent.insertAfter(last);

                 var first = $(".tblProfileImageGallery td").first(); // 2- lastImage will be first 
                 first.find(".makeFirstImage").addClass("stopImageMenu");
                 first.find(".moveLeft").addClass("stopImageMenu");
                 return false;

         });


         //----------------------------------------------------


      
          $(".tblProfileImageGallery").on("click", ".makeMainImage", function (event){
                 event.preventDefault();

                 var r = confirm("Do yoy want to make this picture main?");
                 if (r) {
                     var parent = $(this).parent(); //divImageMenu
                     var img = parent.prev();

                     var src = img.attr("src");
                     var mainImage = $("#profileMainImage");
                     $(".inputIsMainImage").val("0");
                     mainImage.css("background-image", "url('" + src + "')");
                     $(".makeMainImage").removeClass("setMainImage");
                     parent.parent().find(".inputIsMainImage").val("1");  //in td
                     $(this).addClass("setMainImage");
                 }
                 return false;
             //}

         });







         //----------------Old without 'label for'----------------------------

         $('.uploadFilesOld').on({

             change: function (event) {

                 var err = "", found = false;
                 var validFileExtensions = ["jpg", "jpeg", "bmp", "gif", "png"];
                 var file = event.target.files[0];
                 var fileext = file.name.substr(file.name.lastIndexOf('.') + 1);
                 fileext = fileext.toLowerCase();

                 for (var i = 0, l = validFileExtensions.length; i < l; i++) {
                     if (validFileExtensions[i] == fileext) found = true;
                 }
                 if (!found) err = "File is not an image. ";

                 var filesize = file.size;
                 if (filesize > 3000000) err += "File  size  more than 3000000. "

                 if (err != "") { alert("Selected file can't be added." + err); return false; }


                 //-- Get src with  Window.URL -----------------
                 var tmppath = ""
                 if (window.URL || window.webkitURL)
                     tmppath = URL.createObjectURL(event.target.files[0]);



                 //-- data for  template via URL ------------------------------
                 var imgData = { imgSrc: tmppath,
                     imageId: "0"
                 };

                 var el = $("#tmplProfileImages").tmpl(imgData);




                 //----  Get src with File API -------------------------
                 if (!(window.URL || window.webkitURL)) {
                     var img = el.children(".imageGalleryItem");
                     var reader = new FileReader();

                     reader.onloadend = function () {
                         img.attr("src", reader.result);
                     }
                     reader.readAsDataURL(event.target.files[0]);
                 }


                 var target = $(".tblProfileImageGallery tr");

                 if ((target.children().length == 1) && ($("img, target").hasClass("noImage"))) {
                     target.empty();
                 }

                 (el.prepend($(this))).appendTo(target);
                 $("#hasImages").val("1");
             }


         });
         //--------------------------------------------------
         var idForInputFile = 0;
         //---------------------------------------------------

         // labelForInputFile click() made  input file  click
        // $(".fileinput").on({
        //     change:
         //  function (event) {

          $("#uploadHidden").on("change", ".fileinput", function (event){
               var btn = $("#uploadHidden").find('input');

               var err = "", found = false;
               var validFileExtensions = ["jpg", "jpeg", "bmp", "gif", "png"];
               var file = event.target.files[0];
               var fileext = file.name.substr(file.name.lastIndexOf('.') + 1);
               fileext = fileext.toLowerCase();

               for (var i = 0, l = validFileExtensions.length; i < l; i++) {
                   if (validFileExtensions[i] == fileext) found = true;
               }
               if (!found) err = "File is not an image. ";

               var filesize = file.size;
               if (filesize > 3000000) err += "File  size  more than 3000000. "

               if (err != "") { alert("Selected file can't be added." + err); return false; }



               var tmppath = ""
               if (window.URL || window.webkitURL)
                   tmppath = URL.createObjectURL(event.target.files[0]);

               ///--  template------------------------------
               var imgData = { imgSrc: tmppath,
                   imageId: "0"
               };

               var el = $("#tmplProfileImages").tmpl(imgData);

               //----  Get src with File API -------------------------
               if (!(window.URL || window.webkitURL)) {
                   var img = el.children(".imageGalleryItem");
                   var reader = new FileReader();

                   reader.onloadend = function () {
                       img.attr("src", reader.result);
                   }

                   reader.readAsDataURL(event.target.files[0]);
               }

               //----------------------------------------------------


               var target = $(".tblProfileImageGallery tr");

               // first image
               if (target.find(".noImage").length > 0) {
                   target.empty();
                   var mainImage = $("#profileMainImage");
                   mainImage.css("background-image", "url('" + tmppath + "')");

                   el.find(".makeFirstImage").addClass("stopImageMenu");
                   el.find(".moveLeft").addClass("stopImageMenu");
                   el.find(".makeMainImage").addClass("setMainImage");
                   $(".inputIsMainImage").val("1");
               }

               else {
                   var last = target.last();
                   last.find(".makeLastImage").removeClass("stopImageMenu");
                   last.find(".moveRight").removeClass("stopImageMenu");
               }


               $(el.prepend(btn)).appendTo(target);
               $("#hasImages").val("1");


               $("#divGetImage").find('label').attr("for", "fileinput" + idForInputFile);

               // Add new input file and change Label "for" value
               var newbtn = $("<input type='file' id='fileinput" + idForInputFile + "'class='fileinput hiddenInput'  name='file'/>");
               $("#uploadHidden").append(newbtn);
               newbtn.hide();
               idForInputFile++;

           //}
         });


         //----------------------------------------

     }) 
</script> 




<script id = "tmplProfileImages" type="text/html">
      <td class="tdImageFromSet">  
      <input type='hidden' name='fileId' class='hiddenInput' value='0'/>
      <input type="hidden" name="mainImage"  class ="inputIsMainImage hiddenInput" value="0"/>           
       <img  class="imageGalleryItem" src='${imgSrc}' alt = "image" /> 
        <div class="divImageMenu" >
            <span title=" make image fist " class="makeFirstImage"><i class="step fi-previous size-big"></i></span>
            <span title=" move image left " class="moveLeft"><i class="step fi-rewind size-big"></i></span>
            <span title=" make image main " class="makeMainImage"><i class="step fi-record size-big"></i></span>
            <span title=" remove image" class="removeImage"><i class="step fi-x size-big"></i></span>
            <span title=" move image right " class="moveRight stopImageMenu"><i class="step fi-fast-forward size-big"></i></span>
            <span title=" make  image last " class="makeLastImage stopImageMenu"><i class=" step fi-next size-big"></i></span>
            
        </div>
      </td>

</script>   

 }
 